<div class="fbox fbox_colors">
  <div class="fbox-aside">
    Fixed
  </div>
  <div class="fbox-content">
    Adaptive
  </div>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci aliquid cupiditate deserunt distinctio doloremque dolores
  eius enim eos esse eum fugit in incidunt, laboriosam modi, molestiae neque nesciunt nihil perferendis, quam quisquam recusandae sequi sit
  tempore ullam veritatis voluptates? Architecto assumenda cum delectus dolorem fugiat iure magni, maiores mollitia non omnis quia sunt vel
  voluptatem? A consequatur cumque doloribus enim ex facilis fugiat fugit, illo ipsam laboriosam maxime molestiae mollitia pariatur quaerat
  sit? Autem delectus doloribus eos facere maxime minus officia perspiciatis quibusdam sint vitae! Libero maxime omnis tempora. Blanditiis
  consequuntur deserunt esse expedita facere illo nam neque voluptates!
</p>
<p>
  Architecto blanditiis consectetur culpa cum cumque dicta dignissimos distinctio dolorum ea eaque eos esse est, et, eum exercitationem
  incidunt ipsum iure laudantium modi nulla odio provident quas quidem quo quos repellat sit. Expedita molestias officiis quis sed
  voluptates? Alias amet distinctio eveniet hic maxime possimus quidem reiciendis sapiente voluptate? Amet animi eos facilis ipsa nam
  quaerat saepe sapiente tempora temporibus voluptas. Expedita mollitia, tenetur. Aspernatur consequuntur error esse exercitationem impedit
  iste maxime officia possimus similique, velit. Consequuntur deleniti dolor dolorum ex fugiat fugit illo laboriosam non odit officia? Amet
  blanditiis delectus eligendi esse ex facilis, ipsam libero maiores mollitia voluptatem!
</p>
