<div class="new-row new-row_styles">
  <div class="new-column-md-4 new-column new-column_v1">
    <div class="new-content">
      Left
    </div>
  </div>
  <div class="new-column-md-4 new-column new-column_v2">
    <div class="new-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, necessitatibus?
    </div>
  </div>
  <div class="new-column-md-4 new-column new-column_v3">
    <div class="new-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur at delectus dicta, doloribus est, illum molestiae, mollitia
      nam non officiis sint voluptatum? Accusantium commodi dolores dolorum incidunt inventore minima nostrum quis, rerum tempora
      voluptates!
    </div>
  </div>
</div>
