@import 'utils';

.ms-modal {
  .modal-content {
    border-radius: 0;
  }

  .modal-header {
    border-bottom: none;
    border-radius: 0;
  }

  .modal-header ~ .modal-body {
    padding-top: 0;
  }

  .modal-header .close {
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem;
    margin: -1rem;
    user-select: none;

    &:hover {
      color: $primary;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .modal-title {
    font-weight: 400;
    font-size: 1rem;
    padding-left: 1rem;
    margin: 0 auto;
    text-transform: uppercase;
    user-select: none;
  }

  @include media-breakpoint-up($mobile) {
    .modal-title {
      font-size: 1.5rem;
    }
  }
}

.ms-modal-promo {
  .modal-content {
    border-radius: 0;
  }

  .modal-header {
    border-bottom: none;
    border-radius: 0;
  }

  .modal-header ~ .modal-body:before {
    background-color: #000;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  .modal-header .close {
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem;
    margin: -1rem;
    user-select: none;

    &:hover {
      color: $primary;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .modal-title {
    font-weight: 400;
    padding-left: 1rem;
    margin: 0 auto;
    text-transform: uppercase;
    user-select: none;
  }

  @include media-breakpoint-up($mobile) {
    .modal-body {
      padding: 2rem;
    }

    .modal-header .close {
      padding: 1rem 2rem;
      font-size: 3rem;
    }

    .modal-title {
      font-size: 2rem;
      padding-left: 3rem;
    }
  }
}
