$hamburger-types: (spin);
$hamburger-layer-color: #fff;
$hamburger-padding-x: 1rem;
$hamburger-padding-y: 1rem;
$hamburger-layer-width: 2rem;
$hamburger-hover-opacity: 0.9;
$hamburger-layer-height: 0.2rem;
$hamburger-layer-spacing: 0.4rem;

@import '~hamburgers/_sass/hamburgers/hamburgers';
