// External variables and mixins
@import '~@angular/material/theming';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Mixins
@import './mixins';

// Variables
@import './variables';
